Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

.DS_Store
*.xcbkptlist
*.xcuserstate
SuperApp.xcodeproj/xcuserdata/abimanyupramukti.xcuserdatad/xcschemes/xcschememanagement.plist
